<header class="headerContainer">
  <nav class="headerContainer__navbar">
    <!-- <div href="/" class="logo"><a href="/"><img src="./images/LogoName.jpg"></a></div> -->
    <figure href="/" class="logo"><a href="/">V. Karakasis</a></figure>

    <button id="sidebar-toggle" onclick="openSideBar()">&#9776;</button>

    <ul class="headerContainer__navLinks" id="navBar">
      <li><a href="#home" id="home-btn" class="active">Home</a></li>
      <li><a href="#about" id="about-btn">About</a></li>
      <li><a href="#publications" id="publications-btn" >Publications</a></li>
      <li><a href="#teaching" id="teaching-btn">Teaching</a></li>
      <li><a href="#media" id="media-btn">Media</a></li>
      <li><a href="#contact" id="contact-btn">Contact</a></li>
      <li><a href="https://www.linkedin.com/in/vasileioskarakasis/" class="socialMediaIcons" target="_blank">
        <img src="./images/linkedin-svgrepo-com.png">
      </a></li>
      <li><a href="https://x.com/KarakasisV" class="socialMediaIcons" target="_blank">
        <img src="./images/11053970_x_logo_twitter_new_brand_icon.png">
      </a></li>
    
    </ul>
    <!-- <div class="responsiveMenuIcon" onclick="toggleMenu()">&#9776;</div> -->
  </nav>
  <div id="overlay" onclick="closeSideBar()" aria-hidden="true"></div>
</header>

