<div class="container header-container">
  <nav class="navbar">
    <div href="/" class="logo">Name Logo</div>

      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/publications">Publications</a></li>
          <li><a href="/teaching">Teaching</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>

    <div class="hamburger-menu" onclick="toggleMenu()">&#9776;</div>
  </nav>
</div>

<script src="/script.js"></script>