<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This project is created primarily with love and some help of:
    - HTML
    - CSS
    - Javascript
    - Node.js (with Express.js and EJS)
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beyond the Lecture Blog</title>
    <link rel="icon" type="image/png" href="./images/cool.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <%- include("partials/header.ejs") %>
  <div class="backgroundImage"></div>
  <div class="container">
    <!-- <div class="belowHeader"></div> -->
    <div class="hero">
      hero section

    </div>
  </div>

    <%- include("partials/footer.ejs") %>
    <script src="/script.js" defer></script>
</body>
</html>