<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This project is created primarily with love and some help of:
    - HTML
    - CSS
    - Javascript
    - Node.js (with Express.js and EJS)
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beyond the Lecture Blog</title>
    <link rel="icon" type="image/png" href="./images/cool.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <%- include("partials/header.ejs") %>
  <div class="backgroundImage"></div>
  <div class="container" id="initialContainer">
    <h2>Vasileios Karakasis, Ph.D</h2>
    
    <h3>Professor  &#9679;  Researcher  &#9679;  Author</h3>
  </div>
  <div class="container" id="home">
    <!-- <div class="belowHeader"></div> -->
    <div class="hero">
      <div class="heroPhoto">
        <img src="./images/Vasilis.jpeg" class="heroPhoto__image">
        <div class="heroPhoto__text">
          <h3></h3>
          <p>"If you dance for 5 minutes every day you are 
            investing in you happiness and <br> 
            your economic growth"</p>
        </div>
      </div>
      <div class="heroStatement">
        <p>
          Dr. Pongo is a lecturer and researcher in European Studies at The Hague University of Applied Sciences,
          following a seven-year tenure as a lecturer at Leiden University.
          He holds a PhD in Governance and Global Affairs from Leiden University.
          In his dissertation he assessed the impact of gas discoveries within the Exclusive Economic Zone of the Republic of Cyprus on the complication of the Cyprus conflict. He has published articles in peer-reviewed journals on tensions between Greece and Turkey in the Aegean Sea and Greece's bargaining strategy during the economic crisis.
          His research interests revolve around the European Union's European Neighborhood Policy and EU energy security issues,
          particularly emphasizing external governance.
        </p>
      </div>
    </div>
  </div>
  <div class="container" id="publications">

  </div>
  <div class="container" id="teaching">
    
  </div>
  <div class="container" id="media">
    
  </div>
  <div class="container" id="contact">
    
  </div>

    <%- include("partials/footer.ejs") %>
    <script src="/script.js" defer></script>
</body>
</html>