/*
The BEM -> Block, Element, Modifier
naming convention is used 
*/

/*== reset all the text-sizes ==*/
html {
  font-size: clamp(0.9rem, 1.2vw, 1rem);
}

/* Color Palette: */
:root {
  --white: white;
  --white2: white;
  --steelGrey: #4A5568;
  --hoverColor: grey;
  --darkColor: black;
  --headerHeightMobile: 2.7rem;
  --headerHeightPC: 2.7rem;
  --containersWidthMobile: 1200;
  --containersWidthPC: ;
}

/* Initialisation of everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

.backgroundImage {
  position: fixed;
  top: var(--headerHeightMobile);
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-image: url('/images/World Map Doted grey.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10; 
}

.container {
  width: 100%;
  max-width: var(--containersWidthMobile);
  min-width: 150px;
  box-shadow: 5px 0px 10px -10px var(--steelGrey);
  margin: auto;
}

/* Header section */
.headerContainer {
  display: inline-block;
  width: 100%;
  height: var(--headerHeightMobile);
  background-image: linear-gradient(to right, var(--white), var(--white2));
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.headerContainer * {
  list-style: none;
  text-decoration: none;

}

.headerContainer__navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--darkColor);
}
/* Header section -> Logo */
.logo > img, .logo > a {
  font-size: 1.5rem;
  height: 2.2rem;
  font-weight: bold;
  padding-left: 1.5rem;
  flex-basis: 80%;
  color: var(--darkColor);
}

.headerContainer__navLinks {
  display: none;
}

.headerContainer__navLinks {
  position: fixed;
  top: 0;
  right: -110%;
  height: 100dvh;
  width: min(350px, 100%);
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: right 300ms ease-out;
}

.headerContainer__navLinks.show {
  right: 0;
}

#open-sidebar-button {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  margin-left: auto;
  cursor: pointer;
}

.headerContainer__navLinks > li {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

.headerContainer__navLinks a {
  display: inline-block;
  padding: 1.2rem;
  width: 100%;
  color: var(--darkColor);
}

.headerContainer__navLinks a:hover {
  background-color: var(--hoverColor);
}

/* This is the cliclable area to cloapse the sibar menu by clicking outside of the menu area */
#overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

#overlay.show  {
  display: block;
}

/* Hero Section */
.hero {
  display: grid;
  gap: 3rem;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-color: var(--white);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-shadow: 5px 0px 10px -10px var(--steelGrey);
}

.heroPhoto {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 350px;
}
.heroPhoto__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: 50%;
  padding: 1.5rem;
}
.heroPhoto__text {
  font-size: 1rem;
  font-style: italic;
  color: var(--darkColor);
  width: 100%;
  height: 100%;
  padding: 2rem;
}


.heroStatement {
  text-align: left;
  padding: 2rem;
}

.heroStatement > p {

}

.mainSection {
  margin-block: 20px;
  display: grid;
  gap: 20px;
  grid-template: none / repeat(4, 1fr);
}
.mainSectionColumn {
  background-image: linear-gradient(to right, var(--white), var(--white2));
  max-width: 100%;
  border-radius: 30px;
  color: var(--darkColor);
  text-align: justify;
  padding: 20px;
  margin-block: 0;
  box-shadow: 0px 10px 10px -10px var(--steelGrey);
}
.mainSectionColumn h2 {
  text-align: center;
  margin: 0;
}

.footerContainer {
  position: absolute;
  bottom: 0px;
  left: 50%;  /* Moves the element from left to the center by 50% */
  transform: translateX(-50%);  /* Moves the element from the center of itself by -50%, so 50% left */
  width: 100%;
  display: flex;
  align-items: center;
  max-width: var(--containersWidthMobile);
  height: 50px;
  color: var(--darkColor);
  background-image: linear-gradient(to right,var(--white), var(--white2));
  padding: 1rem 1.5rem;
  margin-top: 4rem;
}


/*==============600px================*/
@media screen and (min-width: 600px) {
  .container {
    max-width: var(--containersWidthMobile);
  }
  .belowHeader {
    display: none;
  }
  .backgroundImage {
    top: var(--headerHeightPC);
  }
  .headerContainer {
    height: var(--headerHeightPC);
  }

  .headerContainer__navbar {
    max-width: var(--containersWidthMobile);
    margin: auto;
  }

  .headerContainer__navLinks {
    position: initial;
    height: 100%;
    max-width: fit-content;
    display: flex;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .headerContainer__sideBarLinks {
    display: none;
  }

  .logo > img, .logo > a {
    font-size: 1.5rem;
    height: 1.8rem;
    font-weight: bold;
    padding-left: 1.2rem;
    flex-basis: 25%;
    color: var(--darkColor);
  }
  #open-sidebar-button {
    display: none;
  }
  
  #close-sidebar-button {
    display: none;
  }
  .headerContainer__navLinks > li {
    display: flex;
    height: 100%;
    font-size: 1.2rem;
  }
  
  .headerContainer__navLinks a {
    display: inline-block;
    padding-block: calc((var(--headerHeightPC) - 1.5rem) / 2);
    /* padding-inline: 1.2rem; */
    padding-inline: clamp(1.4vw, 1.8vw , 1.2rem);
    color: var(--darkColor);
    transition: background-color 150ms ease;
  }
  
  .headerContainer__navLinks a:hover {
    background-color: var(--hoverColor);
  }

  .hero {
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .footerContainer {
    height: var(--headerHeightPC);
  }
}

/*==============768px================*/
@media screen and (min-width: 768px) {
  .container {
    width: clamp(768px ,95%, 1024px);
  }
  
}

  /*==============1024px================*/
@media screen and (min-width: 1024px) {
  .container {
    width: clamp(980px ,90%, 1440px);
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .headerContainer {
    padding-inline: 3rem;
  }
  .footerContainer {
    padding-inline: 3rem;
  }
}

/*==============1440px================*/
@media screen and (min-width: 1440px) {
  .container {
    width: clamp(1440px ,90%, 1600px);
  }
}
