/*
The BEM -> Block, Element, Modifier
naming convention is used 
*/

/* Color Palette: */
:root {
  --blue1: #264191;
  --blue2: #4160b6;
  --steelGrey: #4A5568;
  --veryLightBeige: #f3f3f3;
}

/* Initialisation of everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--veryLightBeige);
}

/*
.background-image {
  height: 100vh;
  width: 100vw;
  z-index: -100;
  position: fixed;
  object-fit: cover;
}
*/

.container {
  width: 85%;
  max-width: 1400px;
  min-width: 780px;
  margin: auto;
}

/* Header section */
.headerContainer {
  width: 100%;
  background-image: linear-gradient( var(--blue1), var(--blue2));
  position: sticky;
  top: 0;
  z-index: 1000;
}
.headerContainer__navbar {
  width: 85%;
  max-width: none;
  min-width: none;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--veryLightBeige);
  height: 60px;
}

/* Header section -> Logo */
.logo > img, a {
  font-size: 24px;
  height: 30px;
  font-weight: bold;
  padding-left: 20px;
  flex-basis: 30%;
  color: var(--veryLightBeige);
  text-decoration: none;
}

/* Header section -> Navigation Links */
.headerContainer__navLinks {
  display: flex;
  justify-content: flex-end;
  flex-basis: 70%;
  width: 450px;
  padding-right: 20px;
}

.headerContainer__navLinks li {
  list-style-type: none;
  padding: 7px 10px;
}

.headerContainer__navLinks li:hover {
  background-color: var(--steelGrey);
  color: var(--veryLightBeige);
  border-radius: 6px;
}
.headerContainer__navLinks a {
  color: var(--veryLightBeige);
  text-decoration: none;
  font-size: 18px;  
}

/* Hamburger Icon Menu */
.responsiveMenuIcon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding-inline: 20px;
}

.belowHeader {
  display: none;
}

/* Hero Section */
.hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 20px;
  box-shadow: 5px 0px 10px -10px var(--steelGrey);
}
.heroPhoto {
  display: inline-block;
  position: relative;
}
.heroPhoto__image {
  max-width: 30%;
  min-width: 250px;
  padding: 0 20px 10px 20px;
}
.heroPhoto__text {
  position: absolute;
  text-align: center;
  top: 80%;
  font-size: 140%;
  color: white;
  max-width: 30%;
  min-width: 250px;
  padding: 0 20px 10px 20px;;
}
.heroStatement {
  text-align: justify;
}

/*
.hero::after {
  content: "";
  display: block;
  clear: both;
}
*/

.mainSection {
  margin-block: 20px;
  display: grid;
  gap: 20px;
  grid-template: none / repeat(4, 1fr);
}
.mainSectionColumn {
  background-image: linear-gradient(to right, var(--blue1), var(--blue2));
  max-width: 100%;
  border-radius: 30px;
  color: var(--veryLightBeige);
  text-align: justify;
  padding: 20px;
  margin-block: 0;
  box-shadow: 0px 10px 10px -10px var(--steelGrey);
}
.mainSectionColumn h2 {
  text-align: center;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 50px;
  color: var(--veryLightBeige);
  background-image: linear-gradient(to right,var(--blue1), var(--blue2));
  padding-inline: 20px;
}

/*==============1200px================*/
@media screen and (max-width: 1200px){

  .mainSection {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}

/*==============780px================*/
@media screen and (max-width: 780px) {
  body {
    font-size: 0.9em;
  }
  .container {
    width: 100%;
    max-width: 780px;
    min-width: 480px;
    box-shadow: none;
  }

  .headerContainer__navbar {
    width: 100%;
  }
  
  .headerContainer__navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: linear-gradient(to right,var(--blue1), var(--blue2));
    width: auto;
    text-align: center;
    padding: 10px;
}
.headerContainer__navLinks.active {
    display: flex;
}
.responsiveMenuIcon {
    display: block;
}

.heroPhoto__text {
  position: absolute;
  text-align: center;
  top: 80%;
  font-size: 152%;
  color: var(--veryLightBeige);
  max-width: 30%;
  min-width: 250px;
  padding: 0 20px 10px 20px;;
}

.mainSection {
  margin-block: 20px;
  display: grid;
  gap: 20px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
}

/*==============480px================*/
@media screen and (max-width: 480px) {

  .container {
    width: 100%;
    max-width: 480px;
    min-width: 150px;
    box-shadow: 5px 0px 10px -10px var(--steelGrey);
  }
  
  .headerContainer {
    background-image: linear-gradient(to right, var(--blue1), var(--blue2));
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .logo {
    flex-basis: 80%;
  }

  .headerContainer__navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-image: linear-gradient(to right, var(--blue1), var(--blue2));
    width: auto;
    text-align: center;
    padding: 10px;
  }
  .belowHeader {
    display: block;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, var(--blue1), var(--blue2));
  }

  .hero {
    background-color: var(--veryLightBeige);
    display: block;
    text-align: center;
    border-radius: 40px;
    position: relative;
    top: -50px;
    padding-top: 10px;
    margin-bottom: -30px;
    padding-bottom: 0;
  }
  .heroPhoto__image {
    width: 90%;
    max-width: 90%;
    min-width: none;
    border-radius: 0;
    padding-bottom: 0;
    box-shadow: 0px 10px 10px -10px var(--steelGrey);
  }
  .heroPhoto__text {
    position:relative;
    min-width: none;
    top: -40px;
    color: var(--veryLightBeige);
    font-size: 2rem;
    border: none;
  }
  /*
  .heroStatement {
    background-image: linear-gradient(to right,#264191, #4160b6);
    padding: 15px;
    border-radius: 20px;
    color: #f3f3f3;
    box-shadow: 0px 10px 10px -10px #4A5568;
  }
  .heroStatement > p {
    margin: 0;
  }
  .heroStatement > h2 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  */
   
  .heroStatement {
    background-color: var(--veryLightBeige);
    padding: 15px;
    border-radius: 30px;
    color: black;
    border: 10px solid transparent;
    background: linear-gradient(var(--veryLightBeige), var(--veryLightBeige)) padding-box
    ,linear-gradient(to right, var(--blue1), var(--blue2)) border-box;
    box-shadow: 0px 10px 10px -10px #4A5568;
  }
  .heroStatement > p {
    margin: 0;
  }
  .heroStatement > h2 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
  }
/*
  .mainSection {
    margin: auto;
    margin-block: 20px;
    width: 90%;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);

  }
  .mainSectionColumn {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 30px;
    color: black;
    border: 10px solid transparent;
    background: linear-gradient(#f3f3f3, #f3f3f3) padding-box
    ,linear-gradient(to right,#264191, #4160b6) border-box;
    box-shadow: 0px 10px 10px -10px #4A5568;
  }
  .mainSectionColumn h2 {
    text-align: center;
    margin: 0;
  }
    */

  .mainSection {
    margin: auto;
    margin-block: 20px;
    width: 90%;
    gap: 20px;
    grid-template: repeat(4, 1fr) / none;
  }
  .mainSectionColumn {
    padding: 15px;
    border-radius: 30px;
    color: var(--veryLightBeige);
  }
  .mainSectionColumn h2 {
    text-align: center;
    margin: 0;

  }
}