/*
The BEM -> Block, Element, Modifier
naming convention is used 
*/

:root {
  --ff: 'Times New Roman', Georgia, Garamond; /* Avenir Next */
  --white: white;
  --white2: white;
  --steelGrey: #4A5568;
  --hoverColor: grey;
  --darkColor: black;
  --headerHeightMobile: 3.5rem;
  --headerHeightPC: 2.7rem;
  --containersWidthMobile: clamp(150px, 100%, 768px);
  --containersWidthPC: clamp(768px, 95%, 2000px);
}

/* Initialisation of everything */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: var(--ff);
}

/*== reset all the text-sizes ==*/
html {
  font-size: clamp(0.9rem, 1.2vw, 1rem);
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}


.backgroundImage {
  position: fixed;
  top: var(--headerHeightMobile);
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-image: url('/images/World Map Doted grey.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10; 
}

.container {
  width: var(--containersWidthMobile);
  box-shadow: 5px 0px 10px -10px var(--steelGrey);
  margin: auto;
}

.container:nth-child(odd) {
  background-color: var(--white);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 0px 10px -10px var(--steelGrey);
}

.container:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 5px 0px 10px -10px var(--steelGrey);
}

/* Header section */
.headerContainer {
  display: inline-block;
  width: 100%;
  height: var(--headerHeightMobile);
  background-image: linear-gradient(to right, var(--white), var(--white2));
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  /* This is to remove the gap from the below element */
  margin-bottom: -1.5rem;
  padding-inline: 1rem;
}

.headerContainer * {
  list-style: none;
  text-decoration: none;
}

.headerContainer__navbar {
  width: var(--containersWidthMobile);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--darkColor);
  
}
/* Header section -> Logo */
.logo > img, .logo > a {
  font-size: 1.5rem;
  height: 2.2rem;
  font-weight: bold;
  flex-basis: 80%;
  color: var(--darkColor);
}

.headerContainer__navLinks {
  display: none;
}

.headerContainer__navLinks {
  position: fixed;
  right: -110%;
  top: var(--headerHeightMobile);
  height: calc(100dvh - var(--headerHeightMobile));
  width: min(600px, 100%);
  z-index: 10;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: right 300ms ease-out;
}

.headerContainer__navLinks.show {
  right: 0;
}

#open-sidebar-button {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding-block: 0.5rem;
  margin-left: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: block;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding-block: 0.5rem;
  margin-left: auto;
  cursor: pointer;
}

.headerContainer__navLinks > li {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

.headerContainer__navLinks a {
  display: inline-block;
  font-size: 2.2rem;
  padding: 1.2rem;
  width: 100%;
  color: var(--darkColor);
}

.headerContainer__navLinks a:hover {
  background-color: var(--hoverColor);
}
.headerContainer__navLinks a.active {
  text-decoration: underline;
  text-underline-offset: 1.05rem;
  text-decoration-thickness: 0.14rem;
}

/* This is the cliclable area to cloapse the sibar menu by clicking outside of the menu area */
#overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

#overlay.show  {
  display: block;
}

#initialContainer {
  height: 400px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
#initialContainer > h2 {
  font-size: 3rem;
}

.socialMediaIcons > img {
  width: 2.5rem;
}


/* Hero Section */
.hero {
  display: grid;
  gap: 3rem;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  padding: 20px;
}

.heroPhoto {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 350px;
}
.heroPhoto__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: 50%;
  padding: 1.5rem;
}
.heroPhoto__text {
  font-size: 1rem;
  font-style: italic;
  color: var(--darkColor);
  width: 100%;
  height: 100%;
  padding: 2rem;
}


.heroStatement {
  text-align: left;
  padding: 2rem;
}

.heroStatement > p {

}

#publications {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#teaching {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#media {
  height: 400px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#contact {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.footerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  color: var(--darkColor);
  background-image: linear-gradient(to right,var(--white), var(--white2));
  padding: 0 1.5rem 1rem 1.5rem;
}

/*==============600px================*/
@media screen and (min-width: 600px) {
  .belowHeader {
    display: none;
  }
  .backgroundImage {
    top: var(--headerHeightPC);
  }
  .headerContainer {
    height: var(--headerHeightPC);
  }

  .headerContainer__navbar {
    margin: auto;
  }

  .headerContainer__navLinks {
    position: initial;
    height: 100%;
    max-width: fit-content;
    display: flex;
    box-shadow: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .headerContainer__sideBarLinks {
    display: none;
  }

  .logo > img, .logo > a {
    font-size: 1.5rem;
    height: 1.8rem;
    padding-left: 0.9rem;
    font-weight: bold;
    flex-basis: 25%;
    color: var(--darkColor);
  }
  #open-sidebar-button {
    display: none;
  }
  
  #close-sidebar-button {
    display: none;
  }
  .headerContainer__navLinks > li {
    display: flex;
    height: 100%;
    font-size: 1.2rem;
  }
  
  .headerContainer__navLinks a {
    display: inline-block;
    padding-block: calc((var(--headerHeightPC) - 1.5rem) / 2);
    /* padding-inline: 1.2rem; */
    font-size: 1.1rem;
    padding-inline: clamp(1.4vw, 1.8vw , 1.2rem);
    color: var(--darkColor);
    transition: background-color 150ms ease;
  }
  .headerContainer__navLinks a.active {
    text-underline-offset: 0.35rem;
  }
  
  .headerContainer__navLinks a:hover {
    background-color: var(--hoverColor);
  }
  .socialMediaIcons > img {
    width: 1.4rem;
  }

  .hero {
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .footerContainer {
    height: var(--headerHeightPC);
    padding-inline: 1.2rem;
  }
}

/*==============768px================*/
@media screen and (min-width: 768px) {
  .container {
    width: var(--containersWidthPC);
  }
  .headerContainer {
    padding-inline: 0;
  }
  .headerContainer__navbar {
    width: var(--containersWidthPC);
  }
  .footerContainer {
    width: var(--containersWidthPC);
  }  
}

  /*==============1024px================*/
@media screen and (min-width: 1024px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .headerContainer__navLinks a {
    font-size: 1.2rem;
  }
}

/*==============1440px================*/
@media screen and (min-width: 1440px) {
  .headerContainer__navLinks a {
    font-size: 1.4rem;
  }
}
